Source: staden-io-lib-current
Maintainer: German Tischler <gt1@sanger.ac.uk>
Section: universe/libs
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7),  autoconf (>= 2.61), automake (>= 1.10), libtool (>= 2.2.6), zlib1g-dev (>= 1.2.3), libcurl4-openssl-dev

Package: staden-io-lib-current
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: runtime libraries for staden io_lib

Package: staden-io-lib-current-tools
Section: universe/science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, staden-io-lib-current (= ${binary:Version})
Description: tools in staden io_lib

Package: staden-io-lib-current-dev
Section: universe/libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, staden-io-lib-current (= ${binary:Version}), libcurl4-openssl-dev
Description: Development files for staden-io-lib
